{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div style="width: 100%; margin: auto">
  <div class="purple-box text-center py-2">
    <h1 class="mb-0">Add a New Task</h1>
  </div>
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
</div>

<style>
  .purple-box {
    background-color: hsl(255, 60%, 30%);
    color: white;
  }
</style>

{% endblock %}